html, body {
	background-color: #f9f9f9;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	height:100%;
}

header {
	background-color: #1abc9c;
	box-shadow: 0 2px 6px 1px #a7a7a7;
	color: #ecf0f1;
	height: 5rem;
}

footer {
	background-color: #00bf6f;
	bottom: 0;
	color: #ecf0f1;
	height: 8rem;
	margin-top: 10em;
	text-align: center;
	width: 100%;
}

footer p {
	height: 7rem;
	line-height: 7rem;
}

h1, h3 {
	padding: 4px;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
}

h3 {
	font-size: 1.4rem;
}

a {
	text-decoration: none;
}

input[type="text"], input[type="range"] {
	border: 1px solid #bdc3c7;
	border-radius: 2px;
	margin-left: 1rem;
	vertical-align: middle;
}

input[type=range]{
		background-color: #00bf6f;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
    border: none;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background: #1abc9c;
    margin-top: -.5rem;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #ccc;
    height: .2rem;
}

.action-button {
	margin-left: 2rem;
	background-color: #00bf6f;
	border: none;
	border-bottom: 3px solid #16a085;
	border-radius: 2px;
	color: #ecf0f1;
	display: inline-block;
	font-size: 1rem;
	font-weight: bold;
	height: 3rem;
	padding: 4px;
	width: 6rem;
}

.action-button:hover {
	background-color: #00bf6f;
}

#site-title-wrapper {
	display: inline-block;
	height: 5rem;
	width: 15%;
}

#site-icon-wrapper {
	display: inline-block;
	margin-left: 1rem;
	margin-top: -.5rem;
	vertical-align: middle;
	width: 2.5rem;
}

#site-icon-wrapper img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%
}

#site-title {
	display: inline-block;
	color: #00bf6f;
	font-weight: bold;
	height: 5rem;
	line-height: 5rem;
	margin-left: .1rem;
}

#username {
	margin-right: .7rem;
}

#logout {
	float: right;
	height: inherit;
	line-height: 5rem;
	margin-right: 1rem;
}

#logout-button {
	background-color: #00bf6f;
	border-bottom-color: #bdc3c7;
	height: 2.5rem;
	width: 5rem;
}

#logout-button:hover {
	background-color: #bdc3c7;
}

#content {
	margin-top: 2rem;
	text-align: center;
	width: 100%;
}

.main-container {
	background: #ecf0f1;
	border-radius: 4px;
	box-shadow: 0px 2px 10px 2px #95a5a6;
	display: block;
	min-height: 50vh;
	margin: 2rem 0 0 25%;
	padding: 1rem;
	text-align: center;
	width: 50%;
}

.survey-item, .result-item {
	box-sizing: border-box;
	display: block;
	margin: 1.5rem 0;
	padding: 4px;
}

.survey-item span {
	font-size: 1rem;
	margin-left: 1rem;
}

#goHome {
	height: 2rem;
	line-height: 2rem;
	margin-left: 1rem;
	text-align: center;
}

.sm-label {
	font-size: 13px;
	font-weight: 500;
	color: #333E48;
	margin-bottom: 8px;
	margin-left: 1rem;
	display: inline-block;
}

.sm-input {
	display: inline-block;
	border: 1px solid #D0D2D3;
	font-size: 15px;
	color: #333E48;
	border-radius: 2px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	padding: 8px 12px;
	line-height: 1.4;
}
