<html>
  <head>
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->
    <link rel="stylesheet" href="../static/css/materialize.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/interactions.js"></script>

  </head>
  <body>
    <header>
     <div class="navbar-fixed">
      <nav>
    <div class="nav-wrapper red lighten-3">
      <a href="#" class="left brand-logo">Mr. J & Miss A</a>

      <ul id="nav-mobile" class="right">
        <span>Welcome</span><span> {{ user || safe}}</span>
        <li><a href="choose.html">Home</a></li>
        <li><a href="shoppingcart.html">Shopping Cart{{cart.number}}</a></li>
        <li><a href="order.html">Order</a></li>     
      </ul>
    </div>
  </nav>
  </div>
      
    </header>

    <div class="container">
    <div class="row" style="text-align:center">
      <h1>Select Your Candies</h1>
      

    <div class="col s4">
    <div class="img_wrap">
            <img src="/static/pics/japanese/3.jpg" alt="" id="image1" class="img-responsive rounded image" style='width:100%;height:260px'/>
            <form action="/browse" class="middle" method="POST">
              <input type="hidden" name="sequence" value="{{pic1.sequence}}"/>
            <div class="text">{{pic1.name}}</div>
            <div class="text">is hosting a</div>
            <div class="text"><span>{{pic1.price}}&nbsp</span><span id="food1">{{pic1.food}}</span><span> meal</span></div>
            <div class="text"><span>at </span><span>{{pic1.time}}</span></div>
            <div style="padding:5px"></div>
            
           <div class="input-field col s12">
           <select>
            <option value="Quantity">Quantity</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          </div>

            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            </button>
            </form>
      </div>
      </div>
          <div class="col s4">
    <div class="img_wrap">
            <img src="/static/pics/japanese/3.jpg" alt="" id="image1" class="img-responsive rounded image" style='width:100%;height:260px'/>
            <form action="/browse" class="middle" method="POST">
              <input type="hidden" name="sequence" value="{{pic1.sequence}}"/>
            <div class="text">{{pic1.name}}</div>
            <div class="text">is hosting a</div>
            <div class="text"><span>{{pic1.price}}&nbsp</span><span id="food1">{{pic1.food}}</span><span> meal</span></div>
            <div class="text"><span>at </span><span>{{pic1.time}}</span></div>
            <div style="padding:5px"></div>
           <div class="input-field col s12">
           <select>
            <option value="Quantity">Quantity</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            </button>
            </form>
      </div>
      </div>

    <div class="col s4">
    <div class="img_wrap">
            <img src="/static/pics/japanese/3.jpg" alt="" id="image1" class="img-responsive rounded image" style='width:100%;height:260px'/>
            <form action="/browse" class="middle" method="POST">
              <input type="hidden" name="sequence" value="{{pic1.sequence}}"/>
            <div class="text">{{pic1.name}}</div>
            <div class="text">is hosting a</div>
            <div class="text"><span>{{pic1.price}}&nbsp</span><span id="food1">{{pic1.food}}</span><span> meal</span></div>
            <div class="text"><span>at </span><span>{{pic1.time}}</span></div>
            <div style="padding:5px"></div>
           <div class="input-field col s12">
           <select>
            <option value="Quantity">Quantity</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            </button>
            </form>
      </div>
      </div>

    <div class="col s4">
    <div class="img_wrap">
            <img src="/static/pics/japanese/3.jpg" alt="" id="image1" class="img-responsive rounded image" style='width:100%;height:260px'/>
            <form action="/browse" class="middle" method="POST">
              <input type="hidden" name="sequence" value="{{pic1.sequence}}"/>
            <div class="text">{{pic1.name}}</div>
            <div class="text">is hosting a</div>
            <div class="text"><span>{{pic1.price}}&nbsp</span><span id="food1">{{pic1.food}}</span><span> meal</span></div>
            <div class="text"><span>at </span><span>{{pic1.time}}</span></div>
            <div style="padding:5px"></div>
           <div class="input-field col s12">
           <select>
            <option value="Quantity">Quantity</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            </button>
            </form>
      </div>
      </div>

    <div class="col s4">
    <div class="img_wrap">
            <img src="/static/pics/japanese/3.jpg" alt="" id="image1" class="img-responsive rounded image" style='width:100%;height:260px'/>
            <form action="/browse" class="middle" method="POST">
              <input type="hidden" name="sequence" value="{{pic1.sequence}}"/>
            <div class="text">{{pic1.name}}</div>
            <div class="text">is hosting a</div>
            <div class="text"><span>{{pic1.price}}&nbsp</span><span id="food1">{{pic1.food}}</span><span> meal</span></div>
            <div class="text"><span>at </span><span>{{pic1.time}}</span></div>
            <div style="padding:5px"></div>
           <div class="input-field col s12">
           <select>
            <option value="Quantity">Quantity</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            </button>
            </form>
      </div>
      </div>

    <div class="col s4">
    <div class="img_wrap">
            <img src="/static/pics/japanese/3.jpg" alt="" id="image1" class="img-responsive rounded image" style='width:100%;height:260px'/>
            <form action="/browse" class="middle" method="POST">
              <input type="hidden" name="sequence" value="{{pic1.sequence}}"/>
            <div class="text">{{pic1.name}}</div>
            <div class="text">is hosting a</div>
            <div class="text"><span>{{pic1.price}}&nbsp</span><span id="food1">{{pic1.food}}</span><span> meal</span></div>
            <div class="text"><span>at </span><span>{{pic1.time}}</span></div>
            <div style="padding:5px"></div>
           <div class="input-field col s12">
           <select>
            <option value="Quantity">Quantity</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            </button>
            </form>
      </div>
      </div>

  </div>
  </div>
    
        <footer class="page-footer red lighten-3">
<!--           <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div> -->
          <div class="footer-copyright red lighten-3">
            <!-- <div class="container right"> -->
            © 2018 Copyright Mr. J & Miss A
            <!-- </div> -->
          </div>
        </footer>
      
  </body>
</html>
