<!DOCTYPE html>

<html>
  <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../static/css/materialize.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/login.js"></script>
  </head>

  <body>

    <div class="container" class="col s12">
      <div class="row">
        <form action="/login" method="post" id="reg-form">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" name="email" required>
              <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" name="password" minlength="6" required>
              <label for="password">Password</label>
            </div>
            <div class="input-field col s4 right">
              <button class="btn btn-large btn-register waves-effect waves-light red lighten-3" type="submit" name="action">Log In
                <i class="material-icons right">done</i>
              </button>
            </div>
          </div>
        </form>
        <div style="text-align:center;color:red">{{message}}</div>
      </div>

      <div style="text-align:center">
        <div> New User?</div>
          <div> Click here to 
            <a href="/register">
              <span>Register</span>
            </a>
            <span>!</span>
          </div>
        </div> 
      </div> 
    </div>

  </body>
</html>