<!DOCTYPE html>

<html>
  <head>
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->
    <link rel="stylesheet" href="../static/css/materialize.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/interactions.js"></script>
  </head>

  <body>
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper red lighten-3">
            <a href="#" class="left brand-logo" style='padding-left: 15px'>Mr. J & Miss A</a>

            <ul id="nav-mobile" class="right" style='padding-right: 15px'>
              <span>Welcome </span><span>{{ user | safe}}</span>
              <li><a href="/choose">Home</a></li>
              <li><a href="/shoppingcart">Shopping Cart</a></li>
              <li><a href="/order">Order</a></li>
              <li><a href="/logout">Log Out</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <div class="container">
      <div class="row" style="text-align:center">
        <h1>Your Order Summary</h1>

        <table class="centered">
          <thead>
            <tr>
                <th>Item Name</th>
                <th>Item Quantity</th>
                <th>Item Price</th>
                <th>Item Total</th>
                <th></th>
            </tr>
          </thead>

          <tbody>
            {% for notification in notifications %}
            <tr>
              <td>{{ notification.name }}</td>
              <td>{{ notification.quantity }}</td>
              <td>{{ notification.price }}</td>
              <td>{{ notification.total }}</td>
              <td><button id="{{ notification['name'] }}" class="waves-effect waves-light btn-small grey lighten-1" href="/cancel">Cancel Order</button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <h1>Choose Payment Type</h1>

        <div class="col s6">
          <div class="img_wrap">
            <a href = "/thank_you/1"> <img src="../static/pics/venmo.png" alt="" id="venmo" class="img-responsive rounded image" style='width:75%;height:260px'/></a>
          </div>
        </div>

        <div class="col s6">
          <div class="img_wrap">
            <a href = "/thank_you/2"> <img src="../static/pics/wechat.png" alt="" id="wechat" class="img-responsive rounded image" style='width:75%;height:260px'/></a>
          </div>
        </div>

        <form action="/thankyou" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_KeWxRITcN5Jegk8uww6yEObg"
            data-amount=888
            data-name="Your Order"
            data-description="total charge"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
          </script>
        </form>

      </div>
    </div>

    <footer class="page-footer red lighten-3" style='padding-left: 15px'>
      <div class="footer-copyright red lighten-3">
        © 2018 Copyright Mr. J & Miss A
      </div>
    </footer>

  </body>
</html>
