<!DOCTYPE html>

<html>
  <head>
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->
    <link rel="stylesheet" href="../static/css/materialize.css">
<!--     <link rel="stylesheet" href="../static/css/main.css"> -->
    <link rel="stylesheet" href="../static/css/thankyou2.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/interactions.js"></script>

  </head>

  <body class="layout-light">
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper red lighten-3">
            <a href="#" class="left brand-logo" style='padding-left: 15px'>Mr. J & Miss A</a>

            <ul id="nav-mobile" class="right" style='padding-right: 15px'>
              <span>Welcome </span><span>{{ user | safe}}</span>
              <li><a href="/choose">Home</a></li>
              <li><a href="/shoppingcart">Shopping Cart</a></li>
              <li><a href="/order">Order</a></li>
              <li><a href="/logout">Log Out</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <div class="container">
      <h3 style="font:Raleway;text-align:center;color:white">
      <p style="padding-top:100px;padding-bottom:10px">
        Your Order is On The Way!
      </p>
      <p>Please Check Your Mailbox For Order Summary</p>
      </h3>
      <h4 style="font:Raleway;text-align:center;color:white">
        <p style="padding-top:80px;padding-bottom:10px">
        You can also check <a href="/order">'Order Status'</a> to see the status
        </p>
        <p><i class="small material-icons">favorite</i>  Mr. J & Miss A</p>
      </h4>
    </div>

  </body>
</html>
