<!DOCTYPE html>

<html>
  <head>
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->
    <link rel="stylesheet" href="../static/css/materialize.css">
<!--     <link rel="stylesheet" href="../static/css/main.css"> -->
    <link rel="stylesheet" href="../static/css/thankyou.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/interactions.js"></script>

  </head>

  <body class="layout-light">

    <div class="container">
      <h3 style="font:Raleway;text-align:center;color:white">
      <p style="padding-top:100px;padding-bottom:10px">
        Your Order is On The Way!
      </p>
      <p>Please Check Your Mailbox For Order Summary</p>
      </h3>
      <h4 style="font:Raleway;text-align:center;color:white">
        <p style="padding-top:80px;padding-bottom:10px">
        You can also check <a href="/order">'Order Status'</a> to see the status
        </p>
        <p><i class="small material-icons">favorite</i>  Mr. J & Miss A</p>
      </h4>
    </div>

  </body>
</html>
