<html>
  <head>
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->
    <link rel="stylesheet" href="../static/css/materialize.css">
<!--     <link rel="stylesheet" href="../static/css/main.css"> -->
    <link rel="stylesheet" href="../static/css/welcome.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/interactions.js"></script>

  </head>
  <body>
    <header>
    </header>

    <div class = 'Title'>
      <strong>Mr. J & Miss A</strong>
      <p style="font-size:25px">Taste Some Sweet</p>
    </div>
    <div>
      <div class="jumbotron" style="margin-top:6%;height:120px;padding:10px;background:rgba(0, 0, 0, 0.5);opacity:10%">
        <a href="/login"   class='login'>
          <button class="btn btn-primary grey lighten-1" style="width:100px;height:35px" type="button" >Log In</button>
        </a>
              <div class="separator-container">
                  <div class="separator line-separator">∎</div>
              </div>
              <a href="/register" class="login">
          <button class="btn btn-primary grey lighten-1" style="width:100px;height:35px" type="button" >Register</button>
        </a>
          </div>
    </div>
    
    
        <footer>
         
        </footer>
      
  </body>
</html>